<agm-map [latitude]=46.0059756288262 [longitude]=8.95245559479334 [zoom]=14 disableDoubleClickZoom=true
         (mapClick)="mapOnClick($event)">
    <agm-marker *ngIf="startPoint" [latitude]="startPoint.lat" [longitude]="startPoint.lon"
                label="S"></agm-marker>
    <agm-marker *ngIf="endPoint" [latitude]="endPoint.lat" [longitude]="endPoint.lon" label="E"></agm-marker>
</agm-map>
<button style="float: right; margin-top: 10px;" mat-raised-button (click)="onSubmit()">Reset</button>
