<div class="col-md-12 station-selector">
  <mat-form-field class="col-md-4 col-md-offset-4">
    <mat-label>Start</mat-label>
    <mat-select [(value)]="selectedStart" (selectionChange)="onStartSelect($event.value)">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let st of tplStations" [value]="st">
        {{st.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="col-md-12 station-selector">
  <mat-form-field class="col-md-4 col-md-offset-4">
    <mat-label>End</mat-label>
    <mat-select [(value)]="selectedEnd" (selectionChange)="onEndSelect($event.value)">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let st of tplStations" [value]="st">
        {{st.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>